<style>
    body { margin:0; padding:0; }
    #map { position:fixed; top:0; bottom:0; width:50%; }
</style>
</head>
<body>

<!-- <div id='map'></div> -->
<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoic3RlcGhhbmllYmV0YW5jb3VydCIsImEiOiJjaXB6eWl0ZXgweWpkZnVtMnJvMWMwaXQ0In0.BRjEa1VSzIm-bNQwMlrfcA';

var mapLeaflet;

function drawMap(coords){
  mapLeaflet = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v9', //stylesheet location
    center: [parseFloat(coords.lng), parseFloat(coords.lat)], // starting position
    zoom: 12, // starting zoom,
    maxZoom: 14,
    minZoom: 10,
  });

}
</script>
