    <style>
        body { margin:0; padding:0; }
        #map { position:fixed; top:0; bottom:0; width:100%; }
    </style>
</head>
<body>

<!-- <div id='map'></div> -->
<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoic3RlcGhhbmllYmV0YW5jb3VydCIsImEiOiJjaXB6eWl0ZXgweWpkZnVtMnJvMWMwaXQ0In0.BRjEa1VSzIm-bNQwMlrfcA';

function drawMap(coords){
  new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/outdoors-v9', //stylesheet location
    center: [parseFloat(coords.lng), parseFloat(coords.lat)], // starting position
    zoom: 12 // starting zoom
  });
  map.addControl(new mapboxgl.Navigation({position: 'top-left'})); // position is optional
  map.touchZoomRotate.enable();
}
</script>
