<% if (user.photo) {  %>
  <nav class="teal" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">
      <img height="40" vspace="12" src="../images/wordmark.png" alt="">
      </a>
      <ul class="right hide-on-med-and-down">
        <li><img height="40" vspace="12" src="<%= user.photo %>" alt=""></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Welcome Back <%= user.name %></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

<% } else {  %>

  <nav class="teal" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Welcome back <%= user.name ? user.name : user.profileId %></a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Hi, new user</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>


<% } %>
