<% if (user.photo) {  %>
  <div class="navbar-fixed">
  <nav class="teal" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">
      <img height="40" vspace="12" src="../images/wordmark.png" alt="">
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a class="modal-trigger"href="#modal1"><img height="40" vspace="12" src="<%= user.photo %>" alt=""></a></li>

      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Welcome Back <%= user.name %></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
<% } else {  %>

  <div class="navbar-fixed">
  <nav class="teal" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">
      <img height="40" vspace="12" src="../images/wordmark.png" alt="">
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a class="modal-trigger"href="#modal1"><%= user.name ? user.name : user.providerId %></a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Welcome Back <%= user.name %></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>


<% } %>
