<!DOCTYPE html>
<html>
  <head>
    <title>Concert Match</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>Concert Match</h1>

    <% if (user) { %>
      Hello <%= user.name %> <br>
      <a href="/logout">Logout</a>
    <% } else { %>
      <a href="/login">Login</a>
    <% } %>

  </body>
</html>
