<!DOCTYPE html>
<html>
  <head>
    <title>Concert Match</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
  </head>
  <body>
    <% include ./partials/_nav %>
    <div class="container">
      <h1>Concert Match</h1>

      <% if (user) { %>
        <% if (user.photo)  %>
        <img src="<%= user.photo %>" alt="">
        <%= user.photo  %>
        <%= user  %>
        Hello <%= user.name %> <br>
        <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/auth/spotify">Login</a>
      <% } %>

  </body>
</html>
