<!DOCTYPE html>
<html>
  <head>
  <% include ./partials/_head %>
  <link rel="stylesheet" href="/stylesheets/speaker.css">

  </head>
  <body>

  <div id="cabinet">
    <div class="main speaker tweeter">
      <div class="speaker tweeter med">
        <div class="speaker tweeter small"></div>
      </div>
    </div>
    <div class="main speaker woofer">
      <div class="speaker woofer small">
        <img src="../images/logo-medium.png" />
      </div>
    </div>
    <br>
    <br>
        <a href="/auth/spotify"><img src="../images/spotifylogin.png" class="img-responsive" alt=""></a>
  </div>


  <script>
      var lat, lng;
      navigator.geolocation.getCurrentPosition(function(pos){
        lat = pos.coords.latitude;
        lng = pos.coords.longitude;
        $.get("/api/location?lat=" + lat + "&lng=" + lng, function(){
          window.location.replace("/home");
        });
      });
  </script>
  </body>
</html>
