<!DOCTYPE html>
<html>
  <head>
    <title>Concert Match</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.20.1/mapbox-gl.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>loading...</h1>
    </div>

    <style>
      div {
        border: 4px solid black;
        display: block;
      }

      div#cabinet {
        margin: 100px auto;
        border: 5px solid #805203;
        background: #A86E08;
      }

      .speaker {
        border-radius: 50%;
        background: white;
      }

      div#cabinet .main {
        margin: 20px auto;
      }

      div.tweeter {
        width: 140px;
        height: 140px;
      }

      div.woofer {
         width: 240px;
        height: 240px;
      }

      #cabinet {
        border-radius: 15px;
        width: 300px;
        height: 450px;
      }

      .speaker.tweeter.med {
        width: 75px;
        height: 75px;
        margin: 28px auto;
      }

      .speaker.tweeter.small {
        width: 50px;
        height: 50px;
        margin: 8px auto;
      }

      .speaker.woofer.small {
        width: 150px;
        height: 150px;
        margin: 39px auto;
      }

      .speaker {
        animation: bump .45s ease-out infinite;
      }

      /* #cabinet {
       animation: jump .45s ease-out infinite,
          tilt .45s ease infinite;
      } */

      @keyframes bump {
        27% { transform: scale(1.06); }
      }

      /* @keyframes jump {
        25% { transform: translateY(-5%); }
      }

      @keyframes tilt {
        52% { transform: rotate(3deg); }
      } */


    </style>

    <div id="cabinet">
      <div class="main speaker tweeter">
        <div class="speaker tweeter med">
          <div class="speaker tweeter small"></div>
        </div>
      </div>
      <div class="main speaker woofer">
        <div class="speaker woofer small"</div>
      </div>
    </div>


    <script>
      var lat, lng;
      navigator.geolocation.getCurrentPosition(function(pos){
        lat = pos.coords.latitude;
        lng = pos.coords.longitude;
        $.get("/api/location?lat=" + lat + "&lng=" + lng, function(){
          window.location.replace("/login");
        });
      });
    </script>
  </body>
</html>
