div {
  border: 4px solid black;
  display: block;
}

div#cabinet {
  margin: 100px auto;
  border: 5px solid black;
  opacity: 1;
/* #805203;
background: #A86E08; */
}

.speaker {
  border-radius: 50%;
  background: white;
}

div#cabinet .main {
  margin: 20px auto;
}

div.tweeter {
  width: 140px;
  height: 140px;
  background-color: transparent;
}

div.woofer {
  width: 240px;
  height: 240px;
  background-color: transparent;
}

#cabinet {
  border-radius: 12px;
  width: 300px;
  height: 450px;

}

.speaker.tweeter.med {
  width: 75px;
  height: 75px;
  margin: 28px auto;
  background-color: transparent;
}

.speaker.tweeter.small {
  width: 50px;
  height: 50px;
  margin: 8px auto;
  background-color: transparent;
}

img {
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin: 0 auto;
  padding: 5px 0 0 0;
  background-color: transparent;
}

.speaker.woofer.small {
  width: 150px;
  height: 150px;
  margin: 39px auto;
  background: #454545;
}

.speaker {
  animation: bump .45s ease-out infinite;
}

/* #cabinet {
 animation: jump .45s ease-out infinite,
    tilt .45s ease infinite;
} */

@keyframes bump {
  27% { transform: scale(1.06); }
}

/* @keyframes jump {
  25% { transform: translateY(-5%); }
}

@keyframes tilt {
  52% { transform: rotate(3deg); }
} */
