.nav {
  background-color: #00838f;
}

.card-title {
  text-shadow: -2px 0 black;
  background-color: rgba(0, 0, 0, 0.3);
}
/*login-page*/
html,
body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
.login-form {
  width: 280px;
}
.login-form-text{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}
.profile-image-login{
  width: 100px;
  height: 100px !important;
}

.login-text {
  margin-top: -6px;
  margin-left: -6px !important;
}
